@charset "UTF-8";
/** Couleurs **/ /** Filtres **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.blockFiltres {
  padding: 50px 0px;
  background-color: #ffffff;
}
.blockFiltres h2 {
  margin-bottom: 30px;
}

.filtres-cards {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  height: auto;
}
.filtres-cards a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 8px 7px 3px #f6f6f6;
  transition: background-color 300ms ease-in;
}
.filtres-cards a:hover {
  background-color: #f5edff;
}
.filtres-cards a:hover .mobileicon {
  color: #9356dc;
}
.filtres-cards p {
  background-color: #9356dc;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 50%;
  margin-left: -15px;
  margin-right: 20px;
}

.mobileicon {
  color: #7e7e7e;
  margin-right: 20px;
}

/** Restaurants **/
.blockRestaurants {
  padding: 50px 0px;
  background-color: #f6f6f6;
}
.blockRestaurants h2 {
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.gouttiere {
  margin-left: 30px;
}

/*** font-family: 'Shrikhand', cursive; ***/
* {
  font-family: "Roboto", sans-serif;
}

/** Bouton dégradé header **/
.header-btn {
  align-items: center;
}
.header-btn--text {
  width: 220px;
  margin: auto;
  background: linear-gradient(356deg, #9356dc 10%, #ff79da 90%);
  border-radius: 40px;
  padding: 15px 0px;
  box-shadow: 0px 5px 7px 1px lightgrey;
  transition: transform 250ms ease-in-out;
}
.header-btn--text:hover {
  transform: scale(1.1);
}
.header-btn p {
  text-align: center;
  color: #eeeeee;
  font-weight: 500;
}

.bouton-menu {
  margin-top: 30px;
  margin-bottom: 80px;
}

.coeur-vide {
  font-size: 170%;
  margin-top: 5px;
  color: #000000;
}
.coeur-vide:hover {
  color: #ffffff;
  cursor: pointer;
}

.coeur-plein {
  position: absolute;
  margin-left: -27.1px;
  font-size: 170%;
  margin-top: 5px;
  background: -webkit-linear-gradient(200deg, #9356dc 10%, #ff79da 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 200ms;
}
.coeur-plein:hover {
  opacity: 100%;
  cursor: pointer;
}

.coeur-marge {
  margin-right: 30px;
}

/** Cards restaurants index **/
.restaurants-cards--bloc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.restaurants-cards {
  display: flex;
  justify-content: space-around;
  height: auto;
  margin-right: 10px;
}
.restaurants-cards img {
  position: relative;
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants-cards--new {
  position: absolute;
  margin-top: 10px;
  margin-left: 300px;
  color: #008766;
  padding: 8px 20px;
  background-color: #99e2d0;
  border-radius: 5px;
}
.restaurants-cards--new .new-text {
  color: #008766;
  font-weight: 600;
}
.restaurants-cards a {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 420px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 8px 7px 3px #eaeaea;
}
.restaurants-cards h3 {
  margin-bottom: 5px;
}
.restaurants-cards--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px 0 15px;
}

.menu-banniere {
  height: 350px;
}
.menu-banniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menurestaurant {
  position: relative;
  background-color: #ffffff;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  height: auto;
  padding-left: 25px;
  /** Titres **/
  /** Cards **/
}
.menurestaurant-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.menurestaurant-titre h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.menurestaurant-cards--titre {
  border-bottom: solid 5px #99e2d0;
  width: 40px;
  padding-bottom: 5px;
}
.menurestaurant-cards--titre h3 {
  font-weight: 400;
  text-transform: uppercase;
}
.menurestaurant-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.menurestaurant-card {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  background: #ffffff;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 3px #eaeaea;
  overflow: hidden;
  animation: appear 2s ease-in backwards;
  margin-right: 20px;
  /** Icon menu **/
  /** Animations **/
}
.menurestaurant-card--text {
  width: 310px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menurestaurant-card--text h4 {
  font-size: 18px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menurestaurant-card--text p {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menurestaurant-card--prix {
  font-weight: 600;
  padding-top: 25px;
  margin-left: 40px;
  width: 50px;
  align-items: flex-end;
  transition-duration: 1s;
}
.menurestaurant-card--animation {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  transform: translateX(65px);
  transition-duration: 1s;
}
.menurestaurant-card--animation i {
  position: absolute;
  left: 17px;
  top: 22px;
  font-size: 30px;
  color: #ffffff;
  opacity: 1;
  transform: rotate(360deg);
  transition-duration: 1s;
}
.menurestaurant-card .fa-circle-check {
  font-size: 23px;
  color: #ffffff;
}
.menurestaurant-card:hover > .menurestaurant-card--animation {
  transform: translateX(0px);
  cursor: pointer;
}
.menurestaurant-card:hover > .menurestaurant-card--prix {
  transform: translateX(-65px);
  padding-left: 65px;
}
.menurestaurant-card:hover .menurestaurant-card--animation i {
  transform: rotate(0deg);
}

/** Animation cards menus **/
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.delay1 {
  animation-delay: 0.3s;
}

.delay2 {
  animation-delay: 0.6s;
}

.delay3 {
  animation-delay: 0.9s;
}

.delay4 {
  animation-delay: 1.2s;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
  /** Animation **/
  animation: disappear 4s forwards;
}
.loader i {
  font-size: 32px;
  animation: spin 2s infinite;
  color: #9356dc;
}

@keyframes disappear {
  70% {
    opacity: 0.9;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/** Logo **/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  box-shadow: 0px 2px 7px grey;
  position: relative;
  top: 0;
  background-color: #ffffff;
}
.logo--style {
  width: 180px;
  height: auto;
}

/** Icon flèche **/
.fa-arrow-left-long {
  position: absolute;
  top: 35px;
  left: 0;
  margin-left: 20px;
}

/** Header **/
.blockHeader {
  background-color: #f6f6f6;
  padding: 50px;
}
.blockHeader h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}
.blockHeader h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
}

/** Location **/
.location {
  background-color: #eaeaea;
  padding: 20px 0px;
}
.location--link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location--text {
  margin-left: 10px;
  font-weight: 500;
}
.location a {
  text-decoration: none;
  color: black;
}

.locationicon {
  margin-right: 10px;
}

.footer {
  background-color: #353535;
  padding: 30px 0px;
}
.footer img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content--link {
  color: #ffffff;
  margin-bottom: 7px;
}

/** Icons **/
.fa-utensils {
  margin-right: 10px;
}

.fa-handshake-angle {
  margin-right: 4px;
}

/*# sourceMappingURL=style.css.map */
