/** Couleurs **/
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

$backgrey: #eaeaea;
$backlightgrey: #f6f6f6;
$greyicons: #7e7e7e;
$footergrey: #353535;
$purplehover: #f5edff;

$greennew: #008766;
